{#
  tables:
    key: recent
      label: 'Ultimi voli'
      url: 'https://www.xcontest.org/world/en/[..]
      rows:
          day
          time
          date_time
          name
          name_link
          launch
          launch_link
          route
          length
          points
          glider_model
          glider_rating
          link
#}

{% if tables is not empty %}
  {# Common assets #}
  {{ attach_library('scraper/xct-tables') }}
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" id="details">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180" id="vp">
      <rect width="180" height="180" rx="35" fill="#C15D25"></rect>
      <path d="M140.5 123L110 54.5L78 131L42 62" stroke="white" stroke-width="9"></path>
      <circle cx="78" cy="131" r="12" fill="white"></circle>
      <circle cx="111" cy="54" r="12" fill="white"></circle>
      <circle cx="142" cy="125" r="12" fill="white"></circle>
      <circle cx="142" cy="125" r="6" fill="black"></circle>
      <circle cx="44" cy="66" r="12" fill="white"></circle>
      <circle cx="44" cy="66" r="6" fill="black"></circle>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180" id="pt">
      <rect width="180" height="180" rx="35" fill="#479E38"></rect>
      <path d="M130.5 53L141.895 126L38 96.5L130.5 53Z" stroke="white" stroke-width="9"></path>
      <circle cx="131" cy="53" r="12" fill="white"></circle>
      <circle cx="38" cy="96" r="12" fill="white"></circle>
      <circle cx="143" cy="126" r="12" fill="white"></circle>
      <circle cx="143" cy="126" r="6" fill="black"></circle>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180" id="ft">
      <rect width="180" height="180" rx="35" fill="#3B85A9"></rect>
      <path d="M90.5 36L142.895 126H38.1055L90.5 36Z" stroke="white" stroke-width="9"></path>
      <circle cx="91" cy="36" r="12" fill="white"></circle>
      <circle cx="39" cy="125" r="12" fill="white"></circle>
      <circle cx="144" cy="126" r="12" fill="white"></circle>
      <circle cx="144" cy="126" r="6" fill="black"></circle>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="sort-down" class="bi bi-sort-down" viewBox="0 0 16 16">
      <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" width="64" height="64" id="sad-cloud" viewBox="0 0 64 64">
      <path fill="#aecad4" d="M60.9 37.7a11 11 0 0 1-18 6.7.9.9 0 0 0-.8-.1 18 18 0 0 1-5.1.7 17.9 17.9 0 0 1-7-1.5.9.9 0 0 0-1 .2 9 9 0 0 1-6 2.3 8.8 8.8 0 0 1-3.2-.6 8.7 8.7 0 0 1-2.6-1.5 8.9 8.9 0 0 1-2.1-2.7.9.9 0 0 0-1-.4 9 9 0 0 1-3.1.1 8.5 8.5 0 0 1-2.2-.5 9 9 0 0 1-5.7-7.1 4.5 4.5 0 0 1-.1-.6 9 9 0 0 1 5.3-9 3.7 3.7 0 0 0 1.8-1.6A11 11 0 0 1 20 16a11.2 11.2 0 0 1 2 .2.8.8 0 0 0 .8-.3 18 18 0 0 1 26.8-1.7 18.1 18.1 0 0 1 3.9 5.6 17.8 17.8 0 0 1 1 3.6c.2.4.3.9.3 1.3a3.2 3.2 0 0 0 1.4 2.2 11 11 0 0 1 4.6 10.8Z" />
      <path fill="#d4dfe3" d="M59.9 34.7a11 11 0 0 1-18 6.7.9.9 0 0 0-.8-.1 18 18 0 0 1-5.1.7 17.8 17.8 0 0 1-7-1.5.9.9 0 0 0-1 .2 9 9 0 0 1-6 2.3 8.8 8.8 0 0 1-3.2-.6 8.7 8.7 0 0 1-2.6-1.5 8.9 8.9 0 0 1-2.1-2.7.9.9 0 0 0-1-.4 9 9 0 0 1-3.1.1 8.5 8.5 0 0 1-2.2-.5 9.2 9.2 0 0 1-4.7-4.1 4.5 4.5 0 0 1-.1-.6 9 9 0 0 1 5.3-9 3.7 3.7 0 0 0 1.8-1.6A11 11 0 0 1 20 16a11.2 11.2 0 0 1 2 .2.8.8 0 0 0 .8-.3 18 18 0 0 1 26.8-1.7 18.1 18.1 0 0 1 3.9 5.6 17 17 0 0 1 .3 2 3 3 0 0 0 .8 1.6 3.3 3.3 0 0 0 .6.5 11 11 0 0 1 4.6 7.2 11.2 11.2 0 0 1 0 3.6Z" />
      <path fill="none" stroke="#001c63" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M56.2 27a3.2 3.2 0 0 1-1.4-2.3 18 18 0 0 0-32.3-8.4 11 11 0 0 0-12.9 7 9 9 0 1 0 5.1 17.3 9 9 0 0 0 14.7 2.7 17.9 17.9 0 0 0 13.2.8 11 11 0 1 0 13.6-17.2Z" />
      <path fill="none" stroke="#e6eff2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M49.3 19a18 18 0 0 0-8.1-6" />
      <path fill="none" stroke="#001c63" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M42 23a6.8 6.8 0 0 0 4.6 3.3" />
      <path fill="none" stroke="#001c63" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M31.5 23a6.8 6.8 0 0 1-4.6 3.3" />
      <circle cx="30.5" cy="26.5" r="1.5" fill="#001c63" />
      <circle cx="27.5" cy="30.5" r="1.5" fill="#aecad4" />
      <circle cx="47.5" cy="30.5" r="1.5" fill="#aecad4" />
      <circle cx="43.5" cy="26.5" r="1.5" fill="#001c63" />
      <rect width="3" height="5" x="36" y="30" fill="#001c63" data-name="&lt;Rectangle&gt;" rx="1.5" ry="1.5"/>
      <path fill="#a2e6ff" stroke="#001c63" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 53a2 2 0 0 1-4 0c0-1.1.9-5 2-5s2 3.9 2 5Zm11-6a2 2 0 0 1-4 0c0-1.1.9-5 2-5s2 3.9 2 5Zm8 7a2 2 0 0 1-4 0c0-1.1.9-5 2-5s2 3.9 2 5Zm11-5a2 2 0 0 1-4 0c0-1.1.9-5 2-5s2 3.9 2 5Z" />
      <circle cx="51" cy="22" r="1" fill="#e6eff2" />
    </symbol>
  </svg>
  {% set ico_link %}<svg class="icon" width="16" height="16"><use xlink:href="#details"></use></svg> Dettagli del volo{% endset %}
  {% set ico_sort %} <svg class="icon" width="16" height="16"><use xlink:href="#sort-down"></use></svg>{% endset %}

  <ul class="nav nav-pills nav-justified flex-column flex-sm-row mb-3" id="pills-tab" role="tablist">
    {% for key, table in tables %}
      <li class="nav-item" role="presentation">
        <button
          type="button"
          class="nav-link{{ loop.first ? ' active' }}"
          id="{{ key }}-tab"
          data-bs-toggle="pill"
          data-bs-target="#{{ key }}"
          role="tab"
          aria-controls="{{ key }}"
          aria-selected="{{ loop.first ? ' true' }}">
            {{ table.label }}
          </button>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content" id="pills-tabContent">
    {% for key, table in tables %}
      <div class="tab-pane fade{{ loop.first ? ' show active' }}" id="{{ key }}" role="tabpanel" aria-labelledby="{{ key }}-tab">
        {% if table.rows %}
          <small><em>{{ link('Dati XContest', table.url, {'target':['_blank']} ) }}, aggiornati al {{ date|date('d M Y - H:i') }}</em></small>

          <div class="table-responsive">
            <table class="xct-flights recents table table-hover table-striped">
              <thead class="{#table-light#}">
                <tr>
                  {% if key != 'recenti' %}
                    <th class="xct-flights-rank"><span class="visually-hidden">Posizione</span></th>
                  {% endif %}
                  <th class="xct-flights-date{{ key == 'recenti' ? ' sort' }}"><div><span>Data</span>{{ key == 'recenti' ? ico_sort }}</div></th>
                  <th class="xct-flights-name">Pilota</th>
                  <th class="xct-flights-launch">Decollo</th>
                  <th class="xct-flights-route">Rotta</th>
                  <th class="xct-flights-length">Lunghezza</th>
                  <th class="xct-flights-points{{ key != 'recenti' ? ' sort' }}"><div><span>Punteggio</span>{{ key != 'recenti' ? ico_sort }}</div></th>
                  <th class="xct-flights-glider">Vela</th>
                  <th class="xct-flights-link">Dettagli</th>
                </tr>
              </thead>
              <tbody>
                {% for row in table.rows %}
                  {% set route_title = row.route is same as("FT") ? "Triangolo FAI" : row.route is same as("PT") ? "Triangolo piatto" : "Distanza a 3 punti" %}
                  {% set rating %}
                    <div class="category">
                      <div class="category-level"></div>
                      {% if row.glider_rating != "A" %}
                        <div class="category-level"></div>
                      {% endif %}
                      {% if row.glider_rating == "C" %}
                        <div class="category-level"></div>
                      {% endif %}
                    </div>
                  {% endset %}

                  <tr>
                    {% if key != 'recenti' %}
                      <td class="xct-flights-rank rank-{{ row.rank }} notranslate">
                        {%- if row.rank <= 3 %}
                          {%- if row.rank == 1 %}🥇{% elseif row.rank == 2 %}🥈{% elseif row.rank == 3 %}🥉{% endif -%}
                        {% else %}
                          {{ row.rank }}
                        {% endif -%}
                      </td>
                    {% endif %}
                    <td class="xct-flights-date{{ key == 'recenti' ? ' sort' }}" title="{{ row.date_time|date('U')|format_date('long') }}"><time datetime="{{row.date_time}}">{{ row.date_time|date('d M y') }} <small>{{ row.time }}</small></time></td>
                    <td class="xct-flights-name notranslate">{{ link(row.name, row.name_link, {'target':['_blank']} ) }}</td>
                    <td class="xct-flights-launch notranslate">{{ link(row.launch, row.launch_link, {'target':['_blank']} ) }}</td>
                    <td class="xct-flights-route" title="{{ route_title }}"><svg class="icon" width="16" height="16"><use xlink:href="#{{ row.route|lower }}"></use></svg></td>
                    <td class="xct-flights-length notranslate"><strong>{{ row.length }}</strong> <small>km</small></td>
                    <td class="xct-flights-points notranslate{{ key != 'recenti' ? ' sort' }}"><strong>{{ row.points }}</strong> <small>p.</small></td>
                    <td class="xct-flights-glider notranslate">{{ row.glider_model }} {{ rating }}</td>
                    <td class="xct-flights-link">{{ link(ico_link, row.link, {'target':['_blank'], 'title':'Dettagli del volo'} ) }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        {% else %}
          <div class="text-center">
            <p><svg class="icon" width="64" height="64"><use xlink:href="#sad-cloud"></use></svg></p>
            <p>Nessun volo disponibile al momento. Ripassa più tardi, oppure controlla su {{ link('XContest', table.url, {'target':['_blank'], 'title':'XContest: ' ~ table.label} ) }}</p>
            <p><small><em>Ultimo aggiornamento al {{ date|date('d M Y - H:i') }}</em></small></p>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

{% else %}
  <p>{{ 'Errore nel recupero dei dati da XContest 😥. Ripassa più tardi.'|t }}</p>
{% endif %}
