{%
  set classes = [
    'card',
    'shadow-sm',
    'shadow-hover',
    'h-100',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="card-body d-flex flex-column gap-2 h-100">

    <h2 class="card-title h4">
      <a href="{{ url }}" class="text-decoration-none stretched-link">
        {{- title -}}
      </a>
    </h2>

    {% if block('summary') is not empty %}
      <div class="card-summary text-muted">
        {{ block('summary')|raw }}
      </div>
    {% endif %}

    {% if content.field_tags is not empty %}
      {{ include('vr:badges', { label: content.field_tags|field_label, badges: content.field_tags|field_value }, with_context = false) }}
    {% endif %}

  </div>
</article>
